* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
.container {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("/images/ecossistema-background.png");
  background-size: cover;
}
